/* golobal*/
* {
    padding: 0;
    margin: 0;
    font-family: monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 20px;
    color: white;
    padding: 20px;
}

/* bacground image */
body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat ;
    background-image: url(./images/back1.JPG);
    background-size: cover;
}
/* body{
    background-color: rgb(30, 148, 109);
} */

/* headers */
header{
    justify-content: center;
    width: auto;
    padding: 20px 0;
}
h1{
    font-size: 60px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
h2{
    font-size: 30px;
}
span{
    padding-left: 15px;
}

/* nav-bar*/
ul{
    width: 100%;
    border: 10px double black;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
   display: flex;
}
a{
    font-weight: bold;
    font-size: 23px;    
    text-decoration: none;
    color: black;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    box-shadow: inset 0px 0px 38px white;
  }
  #contact:hover::after {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 20px;
    right: 40px;
    top: 155px;
    color: white;   
    padding: .5%;
     content: "EMAIL: sego37@gmail.com  PHONE: 801-616-0472";
    height: 70px;
    width: 300px;
    background-color: black ;
    border: 2px solid white;
   }
   #contact{
    color: white;
    opacity: 85%;
}

/* Profile pic */
.pic{
margin-left: 30px;    
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 40%;
    border: 13px double black;
    align-content: start;
    border-radius: 8%;
}


/* box layouts */
div{
    margin: 30px 10px;
}
.box-lay{
    float: right;
    background-color: black;
    opacity: 80%;
    max-width: 50%;
}
.box-lay2{
    margin-left: 20px;
    background-color: black;
    opacity: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    width: -webkit-fill-available; 
    justify-self: center;
}
.in-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px;
    outline: 10px double black;

}
.box-header{
    position: relative;
    margin: -20px 15px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}
.work-img{
    display: flex;
    flex-direction:row;
    height: 279px;
    justify-content: space-around;
}
.img1:hover{margin-right: 50px;
    margin-top: -200px;
    width: 500px;
    height: 500px;
    z-index: 1;
    

}
.img2:hover{
    margin-top: -200px;
    width: 500px;
    height: 500px;
    z-index: 1;
}
.img3:hover{
    margin-top: -200px;
    width: 500px;
    height: 500px;
    z-index: 1;

}

 

